﻿<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <p>
          <a class="weatherwidget-io" href="https://forecast7.com/en/20d5978d96/india/" data-label_1="INDIA" data-label_2="WEATHER" data-mode="Current" data-theme="weather_one" >INDIA WEATHER</a>

        </p>
        <p *ngIf="user" ><a routerLink="/users">Manage Users</a></p>
    </div>
</div>
